body {
	margin: 0;
	padding: 0;
	font-family: "Proxima Nova", sans-serif;
	box-sizing: border-box;
	min-height: 100%;
}
.wrapper {
	display: grid;
	grid-template-columns: 230px 1fr;
	grid-template-rows: /*0.3fr 0.6fr 5fr 0.3fr*/ 45px 120px 780px 45px;
	/*grid-gap: 0;*/
}
/*header, nav, article {
	border: 2px solid silver;
}*/
header {
	background-color: #2f364a;
	grid-column: 1 / 3;
	/*display: grid;
	grid-template-columns: 8% 8% 8%;
	justify-content: end;
	justify-items: end;
	padding: 20px 20px 20px 0;*/
	color: #78829d;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
header div {
	margin: 10px;
}
header a:hover {
	color: #fff;
	background-color: #15a4fa;
}

#header-item-2:before {
	content: "â— ";
	color: black;
	padding-right: 17px;
}
#header-item-3 {
	width: 9%;
}
#header-item-3 a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*padding: 20px;*/
}


nav {
	background-color: #eef1f7;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	height: 120px;
}
.panel {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #dadfea;
	font-size: 12px;
}
nav h1 {
	padding-left: 20px;
	color: #444c63;
	font-size: 22px;
	font-weight: normal;
}
.nav-items {
	flex: 2;
}
.nav-items ul {
	display: flex;
	/*justify-content: space-between;*/
}
.nav-items ul li {
	list-style-type: none;
	margin: 0 25px;
	line-height: 29px;
}
.nav-items a {
	display: block;
	width: 100%;
	padding: 5px;
}
.nav-items a:hover {
	border-radius: 15px;
	background-color: #97b3ce;
}
.search-box {
	flex: 1;
}
.search-box {
	display: block;
	margin: 10px auto;
	line-height: 30px;
	border: 1px solid #dadfea;
	background: #fff;
	margin-right: 20px;
}
.search-box input {
	width: 85%;
	height: 40px;
	font-size: 13px;
	border: none;
	outline: none;
	background: none;
	padding-left: 10px;
}
.search-box i {
	padding-right: 10px;
}


article {
	background-color: #ffffff;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	grid-auto-flow: row;
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;*/
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/*grid-template-rows: 1fr 1fr;*/
	justify-content: space-around;
	/*align-items: center;*/
	margin-left: 3vw;
	margin-top: 1vw;
	overflow: auto;
	/*height: 780px;*/
}
article i {
	color: #ffab00;
}




aside {
	box-sizing: border-box;
	grid-column: 1 / 2;
	grid-row: 2 / 4;
	padding: 10px;
	background: #19202e;
	display: grid;
	grid-row: /*120px 240px 180px 340px;*/repeat(4, auto);
	grid-row-gap: 10px;
	padding: 0;
	height: 900px;
}
.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
aside > div {
	background: #1f2637;
	padding: 0;
	font-size: 13px;
	border: 1px solid #282f41;
}
.button_add {
	text-align: center;
}
.button_add button {
	width: 160px;
	height: 45px;
	margin: 20px 0;
	background-color: #f2795a;
	color: white;
	border: none;
	font-size: 14px;
	/*font-weight: bold;*/
	font: caption;
	cursor: pointer;
}
button i, button span {
	display: inline-block;
	margin: 0 7px;
}
ul {
	padding-left: 0;
}
a {
	color: #78829d;
	text-decoration: none;
}
.menu a, .history-list a {
	display: block;
}
a:active {

}
a:hover {
	color: #f2f2f2;
	background-color: #15a4fa;
}
.menu li {
	list-style-type: none;
	cursor: pointer;
	line-height: 3vw;
	padding: 0 20px;
}
/*.menu ul {
	padding-left: 20px;
}*/
.recommend li {
	list-style-position: inside;
	cursor: pointer;
	line-height: 3vw;
	padding: 0 20px;
}
.recommend li:first-child {
	color: #e64c66;
}
.recommend li:nth-child(2) {
	color: #ffab00;
}
.recommend li:nth-child(3) {
	color: #00bfdd;
}
.recommend li:nth-child(4) {
	color: #52528d;
}
.history-list div {
	cursor: pointer;
	line-height: 1.5vw;
	margin: 30px 20px;
}
.history-list a {
	display: flex;
}
.history-list i {
	padding-top: 4px;
	margin-right: 10px;
}


footer {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
	background: #181e2c;
	display: flex;
	justify-content: flex-end;
	/*align-items: center;*/
/*	min-height: calc(100vh - 10px);*/
}
footer i {
	color: white;
	margin: 0 20px;
}
footer a {
	box-sizing: border-box;
	display: block;
	height: 100%;
	padding: 1% 0;
}
